@import 'mixins';
@import 'variables';

.container{
  display: block;
  width: 100%;
  margin: 0 auto;
  * {
    box-sizing: border-box;
  }
  @include breakpoint('small') {
    width: $small-width;
  }
  @include breakpoint('medium') {
    width: $medium-width;
  }
  @include breakpoint('large') {
    width: $large-width;
  }
}

.col_8, .col_4{
  display: block;
  float: left;
  padding: 0 12px;
}

.col_8{
  width: 100%;
  @include breakpoint('small') {
    width: 70%;
  }
}

.col_4{
  width: 100%;
  @include breakpoint('small') {
    width: 30%;
  }
}

.title{
  font: inherit;
}

.hidden_xs {
  @include breakpoint('xsmall') {
    display: none;
  }
}