.closeLine {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px;
  border: none;
  width: 36px;
  height: 36px;

  &:hover {
    cursor: pointer;
  }

  &:before, &:after {
    position: absolute;
    content: '';
    width: 22px;
    border-bottom: 2px solid #fff;
    top: 50%;
    left: 50%;
  }

  &:before {
    transform: translate(-50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%) rotate(-45deg);
  }
}