@import '../../scss/variables';

$triangleSize: 6px;

.dropdown_item_title_container {
  position: relative;
  display: flex;
  padding: 4px $sectionPadding;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  margin-left: -($sectionPadding / 2);
  width: 0;
  height: 0;
  &.down {
    border-left: $triangleSize solid transparent;
    border-right: $triangleSize solid transparent;
    border-top: $triangleSize solid #000;
  }
  &.up {
    border-left: $triangleSize solid transparent;
    border-right: $triangleSize solid transparent;
    border-bottom: $triangleSize solid #000;
  }
}

.dropdown_item_title {
  flex: 5;
  cursor: pointer;
  h3{
    margin: $sectionPadding 0 !important;
    line-height: 1!important;
    border-bottom: none;
    padding-left: 40px;
    font: {
      size: 15px !important;
      weight: bold !important;
    }
  }
}

.category_toggle {
  position: relative;
  flex: 1;
  padding-top: 4px;
  p.always_active {
    font-weight: bold;
    text-align: right;
    margin: 7px 0 0 0;
  }
  .toggle{
    float: right;
  }
}

.dropdown_item_content {
  background-color: #F5F6F8;
  margin: {
    top: 0;
    right: -$sectionPadding;
    bottom: 0;
    left: -$sectionPadding;
  }
  padding: 10px 50px;
  p {
    margin-top: 0;
  }
}

table.cookie_table {
  width: 100%;
  border-collapse: collapse;
  caption-side: bottom;
  background: none;
  border: none;
  th, td{
    font: {
      size: 15px;
      weight: normal;
    }
    vertical-align: top;
    text-align: left;
    padding: 5px 10px 5px 0;
    border: {
      top: none !important;
      right: none !important;
      bottom: 1px solid $lightGrey;
      left: none !important;
    }
    &:first-child {
      width: 20%;
    }
    &:last-child {
      width: 80%;
    }
  }

  tr:last-child td {
    border-bottom: none;
  }
}